<!-- Buscando a variavel do titulo no app.component.ts -->
<h1 class="h1 text-center">{{ tituloDaPagina }}</h1>

<!-- Container para a tabela -->
<div class="container">
  <table class="table table-bordered">
    <!-- Cabecalho da tabela -->
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">RU</th>
        <th scope="col">Nome Do Curso</th>
        <th scope="col">Data de Aniversario</th>
      </tr>
    </thead>
    <!-- Conteudo da tabela -->
    <tbody>
      <!-- ngFor para cada cadastro que existir dentro de cadastros(variavel declarada no component) -->
      <tr scope="row" *ngFor="let cadastro of cadastros">
        <td>{{ cadastro.nome }}</td> <!-- Nome dentro do cadastro  -->
        <td>{{ cadastro.ru }}</td> <!-- RU dentro do cadastro  -->
        <td>{{ cadastro.nomeDoCurso}}</td> <!-- Nome do curso dentro do cadastro  -->
        <td>{{ cadastro.dataAniversario}}</td> <!-- Data de aniversario dentro do cadastro  -->
      </tr>
    </tbody>


  </table>
</div>

<!-- Lucas Sousa Franchi, 3638107 -->
